/* Global styles reset for all elements */




/* Loader specific styles */
.custom-loader-container {
    background-color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.custom-loader-text {
    font-size: 80px;
    letter-spacing: 5px;
    text-transform: uppercase;
    line-height: 100%;
    position: relative;
    mix-blend-mode: difference;
}

.custom-loader-container::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100%;
    background-color: white;
    animation: move 4s linear infinite;
    z-index: -1;
}

/* Keyframes for loader animation */
@keyframes move {
    0%, 100% {
        left: 0;
    }
    50% {
        left: calc(100% - 100px);
    }
}
