/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/tour-grid/style.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
.chat-input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
}
.chat-input input{
    border: black 1px solid;
    border-radius: 1rem;
}

.chat-input button{
    padding: 0 1rem 0 1rem;
    background-color: rgb(231, 128, 128);
    border-radius: 1rem;

}
.chat-input button:hover{
    cursor: pointer;
    background-color: rgb(238, 96, 96);
    transition: background-color 0.4s ease-in-out;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./components/Loader/style.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
/* Global styles reset for all elements */




/* Loader specific styles */
.custom-loader-container {
    background-color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.custom-loader-text {
    font-size: 80px;
    letter-spacing: 5px;
    text-transform: uppercase;
    line-height: 100%;
    position: relative;
    mix-blend-mode: difference;
}

.custom-loader-container::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100%;
    background-color: white;
    animation: move 4s linear infinite;
    z-index: -1;
}

/* Keyframes for loader animation */
@keyframes move {
    0%, 100% {
        left: 0;
    }
    50% {
        left: calc(100% - 100px);
    }
}

